@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
  }

  header {
    text-align: center;
    padding: 20px;
    background: #ff9f33;
    color: #002233;
    border-radius: 15px;
    margin-top: 20px 0;
  }

  a{
    color: #002233;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    border: 2px solid #002233;
    font-weight: 600;
    margin: 5px;
  }

  a:hover {
    background-color: #002233;
    color: #ff9f33;
    border: 2px solid #002233;
    transition: 0.3s;
  }

  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ff9f33;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: #002233;
    font-weight: 900;
    font-size: 2rem;
  }

  p {
    color: #fff;
  }