@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    background-color: #d2d2d2;
    color: #ff9f33;
    transition: background-color 0.3s, color 0.3s;
    --scrollbar-width: 12px; --scrollbar-height: 10px; --scrollbar-border-thickness: 0px; --show-double-buttons: none; --scrollbar-track-color: #002233; --scrollbar-thumb-color: #FF9F33; --scrollbar-corner-color: #00BCD4B3; --scrollbar-border-color: #FFFFFF; } body::-webkit-scrollbar { width: var(--scrollbar-width, 20px); height: var(--scrollbar-height, 20px); }body::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color, #3B82F6); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-track { background: var(--scrollbar-track-color, #A1A1AA); }body::-webkit-scrollbar-corner { background: var(--scrollbar-corner-color, #FFFFFF); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement { display: var(--show-double-buttons, none);
  }

  header {  
    padding: 10px;
    text-align: center;
  }

  nav {
    margin-top: 10px;
    background-color: #002233;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
  }

  nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #ff9f33;;
    transition: 0.2s;
  }

  nav a:hover {
    color: #002233;
    transition: 0.2s;
    background-color: #ff9f33;
    padding: 10px;
  }

  #modoOscuroBtn {
    background-color: #002233;
    color: #fff;
    border: none;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 8px;
  }

  #modoOscuroBtn i {
    margin-right: 5px;
  }

  #modoOscuroBtn:hover {
    background-color: #ff9f33;
    transition: 0.2s;
  }

  /* Estilos para el modo oscuro */
  body.dark-mode {
    background-color: #000;
    color: #ff9f33;
  }

  /* Estilos para la sección con tarjetas y fondo de imagen */
  .seccion-tarjetas {
    background-image: url("/src/img/wave-haikei.svg"); /* Ruta de la imagen de fondo */
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  /* Estilos para las tarjetas con grid */
  .tarjeta-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    /*background-color: rgba(255, 255, 255, 0.8); Fondo semi-transparente para las tarjetas */
    border-radius: 10px;
    cursor: pointer;
  }

  .tarjeta {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .tarjeta:hover {
    transform: scale(1.05);
  }

  .tarjeta img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }

  .tarjeta-descripcion {
    padding: 10px;
  }

  .tarjeta-iconos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tarjeta:hover .tarjeta-iconos {
    opacity: 1;
    background-color: #00000030;
    backdrop-filter: blur(15px);
    padding: 8px;
    border-radius: 10px;
    font-size: 1.3rem;
  }

  .tarjeta-iconos i {
    margin: 0 5px;
    font-size: 18px;
  }